<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    <!--<div class="containter-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">-->

    {{>navbar}}
        
    <!--</div>
    </div>
  </div>-->
    <!--Header-->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side div-->
                    <div class="col-md-6 col-12 main_header_left1">
                        <p>Welcome to weather app .</p>
                        <h1> I am a  <span class="text_clr"> MERN stack developer </span> Student</h1>
                        <a href="/weather"><button>Check now</button></a>
                    </div>
                    <!--right side div-->
                    <div class="col-md-6 col-12 main_header_right1">
                        <img src="images/images (10).jfif" alt="about">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>welcome</p>
    </footer>
</body>

</html>